/*ESTILOS PARA EL TAMAÑO NORMAL DE LA PAGINA*/

/*configuraciones basicas del body*/
body {
  margin: 0;
  font-family: "Lato", sans-serif;;
}

a {
  text-decoration: none;
}
.text-center{
  text-align: center;
}

/*configuraciones del header*/
header {
  background-color: #E6E6E6;
  display: flex;
  position: fixed;
  width:100%;
}

header>a>img {
  margin-left: 5px;
}

.img-circular {
  width: 202px;
  height: 96px;
}

header>nav {
  width: 100%;
  vertical-align: top;
}

header>nav>ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  float: right;
  margin: 45px 0 45px 0;
}

header>nav>ul>li {
  display: inline;
  color: #C33C3A;
  font-size: 20px;
}

header>nav>ul>li>a {
  color: #C33C3A;
  padding: 20px 25px 20px 25px;
  border-radius: 20px;
}

header>nav>ul>li>a:hover {
  background-color: #C33C3A;
  color: #E6E6E6;
}


/*Configuraciones de la seccion main en la pagina principal*/
.main{
  color:#777;
}
.titular{
  color:#C33C3A;
}
.main>section.parallax {
  height: 500px;
}

.parallax {
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.post-parallax{
  height: auto !important;
  margin: 50px 50px 50px 50px;
  text-align: justify;
}
.post-parallax>.titular{
  text-align: center;
}

#lugar{
    background-image: url(../imagenes/home/lugar.jpg);
}
#menu {
  background-image: url(../imagenes/home/menu.jpg);
}

#reservas {
  background-image: url(../imagenes/home/reservas.jpg);
}

.contenedor{
  display: flex;
}
.contenedor-izq{
  width: 49%;
  margin-right: 1%;
}
.contenedor-der{
  width: 49%;
  margin-left: 1%;
}


/*Configuracion slider generico*/

/* Contenedor del carousel */
.carousel-contenedor {
  width: 100%;
  position: relative;
  margin: auto;
}

.slide {
    display: none;
}
.img-slide{
    width: 100%;
    height: 385px;
}

/* botones anterior y siguiente */
.anterior, .siguiente {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Ubica el boton siguiente a la derecha*/
.siguiente {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, agrega un fondo negro con delay*/
.anterior:hover, .siguiente:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Puntos indicadores */
.punto {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .punto:hover {
  background-color: #717171;
}

/* Animacion Fading */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*ESTILOS PARA DISEÑO RESPONSIVE*/
