/*estilos para tamaño normal de la página*/

/*configuraciones basicas del body*/
body {
  margin: 0;
  font-family: "Lato", sans-serif;;
}

a {
  text-decoration: none;
}

/*configuraciones del header*/
header {
  background-color: #E6E6E6;
  display: flex;
  position: fixed;
  width:100%;
}

header>a>img {
  margin-left: 5px;
}

.img-circular {
  width: 202px;
  height: 96px;
}

header>nav {
  width: 100%;
  vertical-align: top;
}

header>nav>ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  float: right;
  margin: 45px 0 45px 0;
}

header>nav>ul>li {
  display: inline;
  color: #C33C3A;
  font-size: 20px;
}

header>nav>ul>li>a {
  color: #C33C3A;
  padding: 20px 25px 20px 25px;
  border-radius: 20px;
}

header>nav>ul>li>a:hover {
  background-color: #C33C3A;
  color: #E6E6E6;
}


/*Configuraciones de la seccion main en la pagina principal*/
.main{
  color:#777;
}
.main>h1,h2,h3,h4,h5,h6{
  color:#C33C3A;
}
.main>section {
  height: 500px;
}

.parallax {
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.post-parallax{
  padding: 50px 80px 50px 80px;
  text-align: justify;
}
.post-parallax>h2{
  text-align: center;
}

#lugar{
    background-image: url(../imagenes/home/lugar.jpg);
}
#menu {
  background-image: url(../imagenes/home/menu.jpg);
}

#reservas {
  background-image: url(../imagenes/home/reservas.jpg);
}
